*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	 background-repeat: no-repeat;
                background-size: 100% 100%;
                background-attachment: fixed;
}
.elias{
position: absolute;
	top: 11%;
	left: 25%;
	transform: translate(-50%,-50%);
}
.sekela{
position: absolute;
	top: 30%;
	left: 13%;
	transform: translate(-50%,-50%);
}
.mary{
position: absolute;
	top: 49%;
	left: 13%;
	transform: translate(-50%,-50%);
}
.tony{
position: absolute;
	top: 11%;
	left: 70%;
	transform: translate(-50%,-50%);
}
.nego{
position: absolute;
	top: 32%;
	left: 80%;
	transform: translate(-50%,-50%);
}
.atu{
	position: absolute;
	top: 82%;
	left: 40%;
	transform: translate(-50%,-50%);
}