*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	 background-repeat: no-repeat;
                background-size: 100% 100%;
                background-attachment: fixed;
}
.title{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.links{
	position: absolute;
	top: 60%;
	left: 35%;
	transform: translate(-50%,-50%);
}
.hobbies{
	position: absolute;
	top: 30%;
	left: 16%;
	transform: translate(-50%,-50%);
}